/* rem and em do NOT depend on html font-size in media queries! Instead, 1rem = 1em = 16px */

/**************************/
/* BELOW 1344px (Smaller desktops) */
/**************************/

@media (max-width: 84em) {
  .hero {
    max-width: 120rem;
  }
  /* body {
    background-image: url("/images/Larger\ Gotham\ city.png");

    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: top center;
  } */
}

/**************************/
/* BELOW 1200px (Landscape Tablets) */
/**************************/

@media (max-width: 75em) {
  html {
    /* 9px / 16px  */
    font-size: 56.25%;
  }
  body {
    margin: 0 10%;
  }
}
/* body {
    background-image: url("/images/Gotham-background-1.png");
    background-size: auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top center;
  }
} */

/**************************/
/* BELOW 944px (Tablets) */
/**************************/

@media (max-width: 59em) {
  html {
    /* 8px / 16px = 0.5 = 50% */
    font-size: 80%;
  }

  body {
    margin: 0 auto;
  }

  #imgText-caption {
    margin: 15px 0 5px 0;
    font-size: 1.2em;
    font-weight: 700;
  }
  #main {
    border-radius: 5px;
  }
  .container {
    margin: 0 5%;
  }

  #img-div {
    margin: 0 5%;
  }

  h1 {
    font-size: 2em;
    line-height: 1.2;
    color: #e8dd09;
  }

  h2 {
    font-size: 1.8em;
  }

  img {
    width: 100%;
  }

  .container {
    padding: 1.5rem;
  }

  .col-container {
    display: flex;
    margin: 2.5rem 0;
    background-color: #2a3557;
    border-radius: 1.6rem;
    padding: 1.5rem;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  footer {
    margin: 0 5%;
  }
}

/**************************/
/* BELOW 704px (Smaller tablets) */
/**************************/

@media (max-width: 44em) {
  .heading-secondary {
    margin-bottom: 4.8rem;
  }
  #imgText-caption {
    font-size: 1.2em;
  }
}

/**************************/
/* BELOW 544px (Phones) */
/**************************/

@media (max-width: 34em) {
  #main {
    margin: 0;
  }

  #imgText-caption {
    font-size: 1em;
  }

  #img-caption {
    font-size: 1.4rem;
  }
}

/* 
  - Font sizes (px)
  10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
  
  - Spacing system (px)
  2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
  */
